.about_us {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    font-family: sans-serif;
    
  }

 

  .about_us-container_image {
    width: 500px;
  }

  .about_us_text-container {
    flex: 1;
    max-width: 50%;
    padding: 0 20px;
  }

  .about_us_text-container_titel {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
  }

  .about_us_text-container_disc {
    font-size: 16px;
    color: #555;
    max-width: 800px;
    margin: 0 auto 40px;
  }

  .about_us_text-container a {
    display: inline-block;
    background-color: transparent;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    text-decoration: none;
  
  }

  .about_us_text-container_titel-line {
    color: red;
  }

  @media (max-width: 768px) {
    .about_us
      {
        flex-direction: column;
        text-align: center;
        padding-left: 0; 
        padding-right: 0;
      }

      .about_us-container_image {
        width: 250px;
      }
    
    }