
   .hero {
    background-image: url("img/02.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 20px;
  }
  
  .hero__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .hero__text {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    max-width: 700px;
  }
  
  .hero__mark {
    color: red;
  }
  
  .hero__button {
    background-color: #ff5c5c;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .hero__button:hover {
    background-color: darkred;
  }

  @media (max-width: 765px){
    .hero__container{
      flex-direction: column;
      text-align: center;
    }

    .hero__button{
      margin-top: 15px;
    }
  }
  

  