<!DOCTYPE html>
<html lang="ua">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>СТО у Вітька</title>
    <link rel="stylesheet" href="style.css" />
     <link rel="stylesheet" href="header.css">
     <link rel="stylesheet" href="section_about_sto.css">
     <link rel="stylesheet" href="section_what_we_do.css">
     <link rel="stylesheet" href="why_choose_us.css">
     <link rel="stylesheet" href="work.css">
     <link rel="stylesheet" href="our_process.css">
     <link rel="stylesheet" href="contacts.css">
     <link rel="stylesheet" href="about_us.css">
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Хедер -->
    <header data-hx-trigger="load" data-hx-get="header.html" data-hx-swap="outerHTML"></header>
    <!-- Основна частина сайту -->
    <main>
    
      <section data-hx-trigger="load" data-hx-get="section_about_sto.html" data-hx-swap="outerHTML"></section>
      <section data-hx-trigger="load" data-hx-get="section_what_we_do.html" data-hx-swap="outerHTML"></section>
      <section data-hx-trigger="load" data-hx-get="why_choose_us.html" data-hx-swap="outerHTML"></section>
      <section data-hx-trigger="load" data-hx-get="work.html" data-hx-swap="outerHTML"></section>
      <section data-hx-trigger="load" data-hx-get="our_process.html" data-hx-swap="outerHTML"></section>
      <section data-hx-trigger="load" data-hx-get="contacts.html" data-hx-swap="outerHTML"></section>
      <section data-hx-trigger="load" data-hx-get="about_us.html" data-hx-swap="outerHTML"></section>
    
    </main>
  </body>
</html>
