.reviews {
    text-align: center;
    padding: 20px;
    
    color: white;
}

.reviews-title {
    font-size: 36px;
    color: black;
    margin-bottom: 30px;
}

.process__title-line {
    color: #ff4d4d;
    font-size: 28px;
  }

.reviews_list{
    display: flex;
    justify-content: center;
}

.review {
    margin-left: 20px;
    /* max-width: 600px; */
    width: 200px; 
    height: 400px;
    padding: 15px;
    background-color: #23214b;
    
}

.review_disc {
    font-size: 16px;
    margin: 10px 0;
    color: #f4f4f4;}

    .button-outline {
        
        display: inline-block;
        margin-top: 30px;
        padding: 12px 20px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        color: black; /* Колір тексту */
        border: 2px solid black; /* Білий контур */
        
        background-color: transparent; /* Прозорий фон */
        transition: 0.3s;
      }
      
      .button-outline:hover {
        background-color: white; /* Фон білий при наведенні */
        color: black; /* Колір тексту чорний при наведенні */
      }
